<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="simar.com.easykey">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".modules_.view_forms.ViewFormList"></activity>
        <activity android:name=".modules_.master_pass.MasterPasswordActivity" />
        <activity android:name=".modules_.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules_.BaseActivity" />
        <activity android:name=".lockmodule.activity.EnterPinActivity" />
        <activity
            android:name=".modules_.HomeScreen.AppHomeNavigation"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity android:name=".modules_.add_module_.SelectCategories" />
        <activity android:name=".modules_.add_cat.AddCatActivity" />
        <activity android:name=".modules_.add_cat.AddToDatabaseActivity" />
        <activity android:name=".sqlite_mod.AndroidDatabaseManager" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

</manifest>